<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>

</head>
<header></header>

<body>

  <div class="main">

    <div class="content">
      <h1><span>Contact Application</span><br>Management<br>Service
      </h1>
      <p class="par">Presenting the Contact Book application.<br> This application will help us to manage our contacts.
      </p>

    </div>



      <app-userlogin></app-userlogin>
      <!-- <router-outlet></router-outlet> -->


  </div>

  <div id="features" class="entity">
    <div class="wrapper">


      <ul>
        <li class="feature-1">

          <h4>Easy to Use</h4>

        </li>
        <li class="feature-2">

          <h4>Easy to Run</h4>

        </li>
        <li class="feature-3">

          <h4>Easy to Manage</h4>

        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>




</body>

 <footer>

  <div class="foot">
    <div class="footimg"></div>
    <div class="footer-info">
      <p>Copyright 2014 CompanyName. All rights reserved.</p>
      <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
    </div>
    <div class="footer-links">
      <ul>
        <li>
          <h5>Quick Links</h5>
        </li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <ul>
        <li>
          <h5>Company</h5>
        </li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Meet The Team</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
      <ul>
        <li>
          <h5>Company</h5>
        </li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Meet The Team</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</footer>


</html>
