*{
  margin: 0px;
  padding: 0px;
}
body{
  height:103vh;
  width:auto;
  background:url('src/assets/img/1.png');
  background-position:center;
  background-size:contain;

  z-index: 1;
   /* z-index: 2; */
}
.main{
  height:75vh;
  width:auto;
  /* padding:20px; */
  /* background-color: #525352; */
}
app-userlogin{
  float: right;
  margin-right: 50px;
  /* margin-right: 300px; */
  margin-left:0px;
  /* margin-top: 20px; */
}
.content{
  float: left;
  width:auto;
  height:75vh;
  color: #fff;
}
.content h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 20%;
  margin-left:10%;
  letter-spacing:3px;

}
.content .par{
  font-family: 'Times New Roman';
  font-size: large;
  padding-left: 20px;
  margin-left: 120px;
  margin-top: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;

}
.content span{
  color: #0eec19;
  font-size: 53px
}
/* .form{
  float: right;
  width: 250px;
  height: 400px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);

  margin-top: 200px;
  margin-right: 40px;
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}







.btn{
  width: 100px;
  height: 40px;
  background: #0eec19;
  border: 2px solid #0eec19;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:hover{
  color: #000;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #0eec19;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #fff;
  color: #0eec19;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 40px;
  text-align: center;
}
.form .link a{
  text-decoration: none;
  color: #0eec19;
}
.checkbox{

  width:250px;
  height:1px;
  margin-top: 0px;
}

.checkbox input{
  width: 15px;
  height:15px;
  left:90px;
  margin-top: 20px;
}
.checkbox label{
  color: white;
 right:100px;
 padding-left:20px;
}


.forgot{
  width: 250px;
  height:15px;
  margin-top:60px;
  margin-left: 60px;
}
.forgot a{
  color: #ff7200;
}
 */

.wrapper{
  height: auto;
  width: 100%;
  padding: 80px 0px;

}
 .wrapper ul{
  /* float: left; */
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;


}

.wrapper ul li{
  list-style: none;
  margin-left: 60px;
  font-size: 35px;

  padding:15px 10px;
}

.wrapper ul li h4{
  text-decoration: none;
  color:rgb(233, 233, 236);
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  margin-top: 20px;
}

.wrapper ul li h4:hover{
  color: #ee8c0def;
}

.feature-1 {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  border-radius: 30%;
  height: 100px;
  width: 200px;

}
.feature-2 {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  border-radius: 30%;
  height: 100px;
  width: 205px;
}
.feature-3 {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  border-radius: 30%;
  height: 100px;
  width: 205px;
}
footer {
  background:linear-gradient(to top right,rgb(251, 249, 249),rgba(147, 180, 27, 0.5));
  /* padding: 60px 0; */
  /* background: url('src/assets/img/footer-background.png'); */
 background-position: center;
 height: 2vh;
}
.footimg{
  background: url('src/assets/img/footimages.jpg');
  height: 150px;
  width: 150px;
  position: absolute;
  float: left;
}
.footer-info {
  color: rgb(7, 7, 7);
  width: 380px;
  float: left;
  margin-top:180px;

}
.footer-links {
  color:rgb(3, 3, 3);
  width: 520px;
  float:right;
  margin-top: 20px;
}
.footer-links ul {

  font-size: large;
  width: 150px;
  float:left;
  margin-left: 20px;
}
.footer-links ul li {
  color: rgb(5, 5, 5);
  margin: 10px 0;
}
.footer-links ul li h5{
  color: rgb(12, 12, 11);
  font-size: x-large;

}
.footer-links ul li a{
  color:rgb(8, 8, 8);

}



