* {
  box-sizing:border-box
}

form{
/* background: url('src/assets/img/body3.jpg'); */
/* background-position: absolute; */
position: absolute;
border-radius: 10px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  height: 750px;
  width: 500px;
  margin-top: 100px;
  margin-left: 350px;
  background-size: cover;
  background-position: center;
  /* border:bluesolid; */

}
/* Add padding to containers */
.container {
  padding:40px;
}
.container h1{
  color: orange;
  /* background-color: white; */
  position:center;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.container p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container b{
  color:orange;
}
.container label{
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text]{
  width: 100%;
  padding: 15px ;
  margin: 15px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/*focus added*/
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.savebtn{
  width: 240px;
  height: 40px;
  background: #0eec19;
  border: none;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}

.savebtn:hover{
  background: #fff;
  color: #0eec19;
}

.savebtn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;

}




