<!DOCTYPE html>
<html>

<head>

  <title>Home Page</title>

</head>

<header>
  <div class="main">
    <div class="navbar">
      <!-- <div class="icon">

        <h2 class="logo">Tutors</h2>

      </div> -->
      <div class="menu">
        <ul>
          <li><a routerLink="Contact/homepage">HOME</a></li>
          <li><a routerLink="Contact/register">REGISTER</a></li>
          <!-- <li><a routerLink="Contact/userlogin">LOGIN</a></li> -->
          <li><a routerLink="Contact/about">ABOUT US</a></li>

          <router-outlet></router-outlet>

        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</header>

<body>
</body>


</html>
