<!DOCTYPE html>
<html>

<head></head>

<body>
  <div class="about-section">
    <h1>Why we exist.</h1>
    <p>Remember the days when you have to remember the contact numbers of your collegues and most of the time you forgotten? Back then, we felt a need to mange all those contacts, as well as those you wanted to avoid. The app was born out of this. To remove uncertainty. To separate signal from noise.</p>
    <p>We can gladly say those days of uncertainty are over with our app. We are committed to build that trust everywhere by making communication safe and efficient. No matter if it's in the beginning of a call, in the middle of a transaction or at the end of a signature.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>

  <div class="row">
    <div class="column">
      <div class="card">

        <div class="container">
          <h2>Ashish Bhosale</h2>
          <p class="title">Analyst-A4</p>
          <p>A/p:Sangli ,Maharashtra </p>
          <p>ashishbhosale@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">

        <div class="container">
          <h2>Priyanka Konam</h2>
          <p class="title">Analyst-A4</p>
          <p>A/p:Nalgonda ,Telangana</p>
          <p>priyanka@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">

        <div class="container">
          <h2>Afreen Shaikh</h2>
          <p class="title">Analyst-A4</p>
          <p>A/p:Lingampalli ,Andhra Pradesh</p>
          <p>afreen@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">

        <div class="container">
          <h2>Vasanta Bonu</h2>
          <p class="title">Analyst-A4</p>
          <p>A/p:Warangal ,Telangana</p>
          <p>Vasanta@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">

        <div class="container">
          <h2>BalaTripuraSundari Polineni</h2>
          <p class="title">Analyst-A4</p>
          <p>A/p:Ongole ,Andhra Pradesh</p>
          <p>Balatripura@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
